@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

body {
    margin: 0 0 0 0;
    font-family: 'Boogaloo', sans-serif;
    text-decoration: none;
}
  
* {
    box-sizing: border-box;
    font-size: 1rem;
    animation: fade-in 1s;
    font-family: 'Boogaloo', sans-serif;
}

/* 

==============================

Landing Page Styling

==============================

*/

#home {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-position: center center;
}

.title {
    z-index: 999;
    height: 100vh;
    width: fit-content;
    position: relative;
    color: white;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 3rem;
    transition: ease-in 400ms;
}

.title > h1 {
    margin-top: 3rem;
    font-size: 7rem;
}

.title > h3 {
    font-size: 3rem;
}

.loginButton {
    position: absolute;
    top: 20px;
    right: 20px;
    border: white 4px solid;
    border-radius: 25px;
    padding: 5px 30px 5px 30px;
    color: white;
    font-size: 2rem;
    
    cursor: pointer;
}

.loginButton:hover{
    background-color: black;
    opacity: 50%;
    transition: ease-in 300ms;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    color: rgba(255,255,255, 1);
}

.playButton{
    text-align: center;
    border: white 4px solid;
    border-radius: 25px;
    padding: 5px 30px 5px 30px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 2rem;
    width: 15vw;
    position: absolute;
    bottom: 10%;
    left: 30%;
}

.co {
    margin-bottom: 1rem;
}

.playButton:hover{
    backdrop-filter: blur(55px);
    transition: ease-in 200ms;
    perspective: 100px;
    background-color: black;
    opacity: 50%;
    backdrop-filter: blur(5px);
    color: rgba(255,255,255, 1);
}

@media screen and (max-width: 500px) {
    .playButton{
        text-align: center;
        border: white 4px solid;
        border-radius: 25px;
        padding: 5px 30px 5px 30px;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        margin-top: 2rem;
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        perspective: 130px;
        justify-content: center;
        position: unset;
    }
    .title {
        margin: auto;
    }
    .title > h1 {
        font-size: 4rem;
    }    
    .title > h3 {
        font-size: 2rem;
    }
}


@media screen and (max-height: 500px) {
    .playButton{
        text-align: center;
        border: white 4px solid;
        border-radius: 25px;
        padding: 5px 30px 5px 30px;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        margin-top: 2rem;
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        perspective: 130px;
        justify-content: center;
        position: unset;
    }
    .title {
        margin: auto;
    }
    .title > h1 {
        font-size: 4rem;
    }    
    .title > h3 {
        font-size: 2rem;
    }
}

/* 

==================================

Navbar Styling

==================================

*/

.nav {
    background: rgba(0,0,0, 0.7);
}

.ham{
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.navButton{
    text-align: center;
    border: white 4px solid;
    border-radius: 25px;
    padding: 5px 30px 5px 30px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    width: fit-content;
}

.navButton:hover{
    backdrop-filter: blur(55px);
    transition: ease-in 200ms;
    perspective: 100px;
    background-color: black;
    opacity: 50%;
    backdrop-filter: blur(5px);
    color: rgba(255,255,255, 1);
}

.brand{
    color: white;
    font-size: 4rem;
}

.hamCont {
    color: white;
    z-index: 999;
    position: absolute;
    top: 0;
    background: black;
    display: flex;
    background: rgba(0,0,0, 0.95);
    flex-direction: column;
    
    padding-top: 3rem;
    align-items: center;
    height: 100vh;
    width: 40vw;
    transition: left 1s;
    left:-40vw;
}
.hamCont.open{
    left:0px;
    display: flex;
}

.hamCont > h4 {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 4rem;
}

.hamCont > h3:hover {
    cursor: pointer;
    background-color: black;
    opacity: 50%;
}

.x{
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
}

.x:hover {
    background-color: black;
    opacity: 50%;
}

.ham:hover {
    background-color: black;
    opacity: 50%;
}

.nav {
    height: 15vh;    
}

#navIcon {
    height: 4rem;
    border: 3px solid white;
    border-radius: 50%;
    padding: 0.5rem;
}

#userName {
    color: white;
    padding-left: 5px;
}

#side {
    height: 100%;
}


@media screen and (max-width: 450px) {
    #navIcon {
        height: 3rem;
        padding: 0.25rem;
    }
    .nav {
        height: 13vh;    
    }
    .brand{
        font-size: 2.5rem;
    }
    .ham{
        font-size: 2rem;
    }
    .navButton{
        text-align: center;
        border: white 4px solid;
        border-radius: 25px;
       
        color: white;
        font-size: 1rem;
        cursor: pointer;
        width: fit-content;
    }

    .hamCont{
        width: 100vw;
        left: -100vw;
    }
    .hamCont.open{
        left:0px;
    }
    .hamCont > h4 {
        margin-bottom: 10rem;
    }
    
}

@media screen and (max-width: 376px) {

    .ham {
        font-size: 1rem;
    }
    .navButton {
        padding: 5px 10px 5px 10px;
    }
    .brand{
        font-size: 2rem;
    }
}

@media screen and (max-height: 420px) {
    #side{
        height: 200vh;
    }
    .ham {
        font-size: 2rem;
    }
    .navButton {
        padding: 5px 10px 5px 10px;
    }
}

@media screen and (max-height: 450px) {
    .nav {
        height: 30vh;
    }
}

@media screen and (max-width: 325px) {
    #navIcon {
        height: 2.5rem;
    }

    #userName {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1000px) {
    #userName {
        padding-left: 1rem;
    }
}


/* 

==================================

Login Styling

==================================

*/

.loginCont {
    position: relative;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginCont > h1 {
    margin: 3rem;
    font-size: 6rem;
}

.loginForm {
    background: rgba(0,0,0, 0.7);
    height: fit-content;
    padding: 1rem 2rem 1rem 2rem;
    width: 45vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.form-group > input {
    border-radius: 10px;
    padding: 5px;
    font-size: 1.5rem;
}

.loginbutton {
    text-align: center;
    border: white 4px solid;
    border-radius: 15px;
    margin: 1rem;
    color: white;
    width: 10vw;
    cursor: pointer;
    width: fit-content;
}

.loginbutton > button {
    width: 10vw;    
}

.loginbutton > button:hover {
    border-radius: 25px;
    backdrop-filter: blur(55px);
    transition: ease-in-out 200ms;
    perspective: 100px;
    background-color: black;
    opacity: 50%;
    backdrop-filter: blur(5px);
    color: rgba(255,255,255, 1); 
    
}

label{
    font-size: 2rem;
}

#homeL {
    height: 100vh;
    position: absolute;
    width: 100vw;
    background-position: center center;
    overflow: auto;
}

.con {
    height: 100vh;
    overflow: hidden;
}

.needacc{
    cursor: pointer;
}

.needacc:hover{
    cursor: pointer;
    color: rgba(255,255,255, 0.7);
}

@media screen and (max-height: 350px) {
    #homeL {
        height: 100vh;
    }
    .loginCont > h1 {
        margin: 1rem;
        font-size: 2rem;
    }

    .loginForm {
        width: 70vw;
    }
    
    .loginCont {
        height: 100vh;
        justify-content: start;
        margin: 2rem;
    }

    .co {
        overflow: auto;
    }
}


@media screen and (max-height:420px) {
    .loginCont > h1 {
        font-size: 3rem;
    }

    .loginCont {
        height: 200vh;
    }

    .loginForm {
        width: 70vw;
    }

    #homeL {
        height: 200vh;
    }
    .con {
        height: 200vh;
    }
    .loginbutton > button {
        width: 20vw;    
    }
}

@media screen and (max-width: 420px) {
    .loginCont > h1 {
        font-size: 3rem;
    }
    
    .loginbutton > button {
        width: 30vw;    
    }

    .form-group {
        width: 100%;
    }

    .loginForm {
        width: 95vw;
    }
}

@media screen and (max-width: 350px) {
    .loginCont > h1 {
        font-size: 3rem;
    }

    .loginCont {
        height: 120vh;
    }

    .loginForm {
        width: 90vw;
    }

    #homeL {
        height: 120vh;
    }
    .con {
        height: 120vh;
    }
}


/* 

==================================

Game Styling

==================================

*/

#gameBack {
    background: url('/images/uw.jpg') center center;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

#infoI {
    color: white;
    text-align: center;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 20px;
    align-items: center;
    background: rgba(0,0,0, 0.7);
}

.gameCard{
    height: 17vh;
    width: 17vw;
    border-radius: 25px;
    background: rgba(255,255,255, 0.5);
}

.fold2 {
    padding: 0;
    cursor: pointer;
}

.icon2 {
    background: white;
    border: 7px solid black;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 0px 5px rgba(0,0,0, 0.4);
    perspective: 65px;
}

.cardImg {
    height: 5vh;
    width: 5vw;
}

.icon3 {
    border: 7px solid white;
    color: white;
    padding: 1rem;
    border-radius: 50%;
}

.backCard{
    display: none;
}

.fold2 > #skillC:hover{
    cursor: pointer;
    background-color: black;
   border-radius: 25px;
}

.toTopBtn {
    position: fixed;
    bottom: 10px;
    right: 5px;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0, 0.3);
    border: 4px solid white;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toTopBtn:hover{
    width: 50px;
    height: 50px;
    background: rgba(0,0,0, 0.8);
}

.modalCont {
    width: 50vw;
    background:  rgba(0,0,0, 1);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    z-index: 999;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-height: 90%;
}

#winPlayerLogo {
    height: 20vh;
    border: 7px solid white;
    border-radius: 50%;
    margin: 1rem;
    padding: 10px;
}

.playAgainButton {
    text-align: center;
    border: white 4px solid;
    border-radius: 15px;
    font-size: 1.5rem;
    margin: 1rem;
    color: white;
    width: 15vw;
    cursor: pointer;
    background:  rgba(0,0,0, 0.9);
}

.playAgainButton:hover {
    backdrop-filter: blur(55px);
    transition: ease-in-out 200ms;
    perspective: 100px;
    background-color: black;
    opacity: 50%;
    backdrop-filter: blur(5px);
    color: rgba(255,255,255, 1); 
}

@media screen and (min-width: 800px) {
    #gameInfo {
        max-width: 90vw;
    }

    #gameCards{
        max-width: 100vw;
    }

    .toTopBtn {
        bottom: 20px;
        right: 20px;
        height: 50px;
        width: 50px;
    }


    .toTopBtn:hover{
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 330px) {
    .cardImg {
        height: 5vh;
        width: 20vw;
    }

}


@media screen and (max-width: 430px) {
    #gameBack {
        background: url('/images/uw.jpg') center center;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .modalCont{
        width: 90vw;

    }

    .playAgainButton{
        width: 60vw;
    }

    #infoI {
        width: 70vw;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .gameCard{
        height: 20vh;
        width: 35vw;
      
    }

    .cardImg {
        height: 4vh;
        width: 10vw;
    }
}

@media screen and (orientation: landscape) and (max-width: 850px) {
    #gameInfo {
        max-width: 100vw;
    }

    #gameBack {
        height: 100%;
    }

    .gameCard{
        height: 40vh;
        width: 30vw;
      
    }

    .cardImg {
        height: 10vh;
        width: 10vw;
    }
}

@media screen and (orientation: landscape) and (max-height: 350px) {
    .gameCard{
        height: 48vh;
        width: 35vw;
      
    }

    .playAgainButton{
        width: 30vw;
    }
}